:root {
    --main-color: #808000;
    --main-font: 'Century', sans-serif;
}

body {
    color: var(--main-color);
    font-family: var(--main-font);
}

.header {
    display:flex;
    border-bottom: 1px solid var(--main-color);
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    width: 100%;
    height: 100px;
    display: inline-block;
    position: relative;
}

.header__logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 26px;
    color: var(--main-color);
}

.contact__required {
    color: red;
}
