.confirm__content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px;
}

.confirm__title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.confirm__table--inner {
    margin: 0 auto;
    width: 70%;
    border: 1px solid #808000;
    border-collapse: collapse;
}

.confirm__table--row {
    border-bottom: 1px solid #808000;
}

.confirm__table--header {
    background-color: #808000;
    border-bottom: 1px solid white;
    width: 30%;
    color: white;
    padding: 10px 20px;
}

.confirm__table--content {
    width: 70%;
    padding: 10px 20px;
}



.confirm__action {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.confirm__button {
    padding: 10px 20px;
}

.confirm__button--submit {
    background-color: #808000;
    appearance: none;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.confirm__button--modify {
    appearance: none;
    border: none;
    border-bottom: 1px solid #808000;
    font-size: 16px;
    color: #808000;
    background-color: transparent;
    cursor: pointer;
}
